<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Page web A</title>
	<!-- <link rel="stylesheet" href="style.css"> -->
	<!-- <script src="script.js"></script> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row" style="margin-top:20%;">
			<img class="col-6 offset-3" src="/view/images/HAMATONOBG.png" alt="logo">
		</div>
		<div class="row">
			<form method="get" class="col-12">
				<div class="form-row mt-4">
					<input class="col-8 offset-2 rounded" type="text" id="search" name="search" title="rechercher" required>
				</div>
				<div class="form-row mt-4">
					<button class="btn btn-primary col-2 offset-5" type="submit">Recherche HAMATO<i class=" ml-2 fas fa-search"></i></button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
