<!DOCTYPE html>
<html lang="fr">
  <head>
  	<meta charset="utf-8">
  	<title>Page web B</title>
  	<!-- <link rel="stylesheet" href="style.css"> -->
  	<!-- <script src="script.js"></script> -->
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container col-12">
      <!-- barre de recherche -->
      <div class="row p-2 bg-light sticky-top" style="">
        <div class="col-2">
          <a href="/">
            <img class="col-12" src="/view/images/HAMATONOBG.png" alt="logo">
          </a>
        </div>
        <div class="col-6 mt-1">
          <form method="get" class="row">
              <input class="col-5 rounded" type="text" id="search" name="search" title="rechercher" required>
              <button type="submit" class="btn btn-primary ml-1"><i class="fas fa-search"></i></button>
          </form>
        </div>
    	</div>
      <!-- Zone d'affichage des retours -->
      <div class="grid mt-4 col-12 offset-1">
<h2>Recherche : simple</h2><div class="grid col-5 mt-2 p-2"> <h2><a href="Étienne">Étienne</h2> </div><div class="grid col-5 mt-2 p-2"> <h2><a href="PolyOp">PolyOp</h2> </div><div class="grid col-5 mt-2 p-2"> <h2><a href="List">List</h2> </div></div></div></body></html>